<form (submit)="sendForm()" [formGroup]="group" class="example-form">
    <div class="container">
        <div class="content">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Введіть ім'я </mat-label>
                <input formControlName="firstName" matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Введіть прізвище</mat-label>
                <input formControlName="lastName" matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Введіть дату народження</mat-label>
                <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Введіть e-mail</mat-label>
                <input formControlName="email" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Фреймворк</mat-label>
                <mat-select formControlName="framework">
                    <mat-option *ngFor="let framework of jsFrameworks | keyvalue" [value]="framework.key">
                        {{framework.key}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Версія фреймворку</mat-label>
                <mat-select formControlName="frameworkVersion">
                    <mat-option *ngFor="let framework of jsFrameworks[group.get('framework')?.value]" [value]="framework">
                        {{framework}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Ваші хоббі</mat-label>
                <mat-select formControlName="hobby" multiple>
                    <mat-option>Не обрано</mat-option>
                    <mat-optgroup *ngFor="let group of hobby" [label]="group.name" [disabled]="group.disabled">
                        <mat-option *ngFor="let hobby of group.information" [value]="{name: group.name, duration: hobby.duration}">
                            {{hobby.duration}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <button mat-button color="primary">Відправити</button>
        </div>
    </div>
</form>